<div class="row">
  <div class="col-md-4">
    <h3>Post Lists</h3>
    <a href="#" [routerLink]="['/posts/add']" class="btn btn-primary">Add Post</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts | async">
          <td>{{post.id}}</td>
          <td>{{post.title}}</td>
          <td>{{post.desc}}</td>
          <td>
            <a href="#" [routerLink]="['edit',post.id]" class="btn btn-primary">Update</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
